/*esto es para que las capas cuando tengan padding no se salgan del tamaño que le damos*/

@import url("variable.less");

*{
	// box-sizing hace que el ancho definido no cambie al agregarle padding ni bordes a el div o elemento
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body{
	background-color: @color-base;
	// background: url("../img/fondo.png");
	font-family: @fuentes;
	font-size: 16px;
	margin: 0;
	padding: 0;
	
	// +++++++++++++++Menu+++++++++++++

	#menu-container{
		background: @color-menu;
		height: 100%;
		// position fixed sirve para que un objeto no se mueva nunca de su posicion y se mantenga en la misma aunque el escroll baje o suba
		position: fixed;
		width:200px;
		text-align: center;
	}
	
	#menu-container .logo-menu{
		padding-top: 20px;
	}

	#menu-container .logo-menu .logo-name{
		padding-top: 10px;
		color: #eee;
		font-size: 14px;
	}

	#menu-container .logo-menu .logo-desc{
		padding-top: 10px;
		color: #bbb;
		font-size: 10px;
		padding-bottom: 10px;
	}
	#menu-container .contimg{
		width: 100px;
		height: 100px;
		background-color: #fff;
		border-radius: 50%;
		margin: 0 auto;
	}

	#menu-container .contimg #invert{
		margin-top: 10px;
		width: 80px;
		height: 80px;
	}

	#menu-container #menu{
		border-top: solid 1px @color-borde-p;
		border-bottom: solid 1px @color-borde-p;
		margin: 0;
		padding: 40px 0;
	}

	#menu-container #menu li{
		list-style: none;
		margin: 0;
		padding:10px;
	}

	#menu-container #menu li a{
		color: @color-font-menu;
		text-decoration:none;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}

	#menu-container #menu li a:hover{
		color: lighten(@color-font-menu,50%);
	}
	// ************* CUERPO DE LA PAGINA **************
	#main-container{
		display: inline-block;
		margin-left: 200px;
		width: 2600px;

	}

	#main-container .seccion{
		width: 500px;	
		height: 677px;
		display: inline-block;
		padding:10px;
		vertical-align: top;
		border-right: dotted 1px @color-borde-sep;	
		overflow: hidden;
		overflow-y: scroll;
	}

	#main-container .seccion h2{
		border-bottom: solid 1px @color-borde-sep;
		padding: 20px 20px;
	}

	#seccionInicio{
		padding-top: 65px !important;
		width: 450px !important;
		text-align: center;
		padding-left: 20px !important;
		padding-right: 20px!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#logo2{
		width: 350px;
		height: 330px;
		margin-bottom: 0;
	}
	
	#seccionInicio #inicio-descripcion h1{
		font-family: @fuentes;
		font-style: normal;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 3em;
	}

	#seccionInicio #inicio-descripcion h4{
		color: @color-descripcion;
		margin-top: 0px;
		margin-bottom: 17%;
	}

	#seccionInicio #inicio-descripcion p{
		color: @color-descripcion;
		font-style: italic;
		font-size: 1em;
	}

	.separador{
		margin-bottom: 15px;
		background-image: url("../img/separador.png");
		background-position: center center;
		height: 45px;
	}

	/*************************secion de blog******************/

	#seccionBlog p{
		font-size: 14px;
		line-height: 26px;
		margin-top: -5px;
		color: @color-descripcion;
		font-style: italic;
	}

	.feed-icon{
		float: left;
		padding-right: 10px;
		width: 60px;
		height: 50px;
	}

	#posts a{
		color: black;
	}

	.rss-container{

		border-bottom: dotted 2px @color-borde-sep;
		padding: 10px;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}

	.rss-container:hover{
		background-color: darken(@color-base,10%); 
		border-radius: 5px; 
	}

	.rss-container img{
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
	}

	.rss-container h3{
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		width: 350px;
	}

	/*************** TRABAJO ************************/
	.sliderimg{
		width: 100%;
		height: 210px;
		display: none;
	}
	
	// selecciona el primer elemento
	.sliderimg:nth-child(1){
		display: block;
	}

	p{
		font-family:arial;
		font-size: 14px;
		line-height: 26px;
		color: @color-descripcion;
		text-align: justify;
	}


	// ********************* GALERIA DE IMAGENES **********************
	#trabajos-container a{
		color: @color-white;
		text-decoration: none;
	}

	#trabajos-container a .trabajo{
		border: solid 5px @color-white;
		height: 150px;
		margin-bottom: 10px;
		padding: 100px 10px 10px;
		width: 450px;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
	}
	
	#trabajos-container a .trabajo.acuarela{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion1-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.tinta{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion2-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.abecedario{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion3-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.dragones{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion4-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.dulces{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion5-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.retratos{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion6-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.revistas{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion7-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.sitiowww{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion8-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.city{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion9-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.influencia{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion10-1.png);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.luces{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion11-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.libros{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion12-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.flat{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion13-1.png);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo.rostroscolor{
		// se utiliza para colocar dos fondos el primero encima del segundo
		background: url(../img/fondo-trabajo.png),url(../img/trabajo/coleccion14-1.jpg);
		background-position: center center, 0 0;
		background-size: 100%;
	}

	#trabajos-container a .trabajo:hover{
		background-position: center center, center center;
	}

}






